@import "tailwindcss";
@import "./responsive.css";

:root {
  --background: #09090b;
  /* Zinc 950 */
  --foreground: #fafafa;
  --sidebar: #18181b;
  /* Zinc 900 */
  --accent: #f97316;
  /* Orange 500 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
}